/* Establece el color de fondo del cuerpo */
body {
    background-color: #c0d4e7;
    /* Color de fondo */
}

/* Estilos para el contenedor principal */
.container {
    max-width: 400px;
    /* Ancho máximo del contenedor */
    margin: 50px auto;
    /* Centra el contenedor en la página */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
    padding: 20px;
    /* Relleno interno del contenedor */
    border-radius: 10px;
    /* Bordes redondeados */
    background-color: #ffffff;
    /* Color de fondo del contenedor */
}

/* Ajustes para el formulario dentro del contenedor */
#infoForm {
    margin-top: 20px;
    /* Espaciado superior del formulario */
}

/* Estilos para los grupos de formulario */
.form-group {
    margin-bottom: 20px;
    /* Espaciado inferior entre grupos de formulario */
}

/* Estilos para las etiquetas de formulario */
label {
    font-weight: bold;
    /* Establece el peso de la fuente en negrita */
    color: #495057;
    /* Color del texto de la etiqueta */
}

/* Ajustes para los botones del formulario */
.btn {
    margin-right: 10px;
    /* Margen derecho entre botones */
}

/* Estilos específicos para el botón Cancelar */
#btnCancelar {
    background-color: #6c757d;
    /* Color de fondo del botón Cancelar */
    border: none;
    /* Elimina el borde del botón */
}

/* Estilos específicos para el botón Aceptar */
#btnAceptar {
    background-color: #28a745;
    /* Color de fondo del botón Aceptar */
    border: none;
    /* Elimina el borde del botón */
}