
<header class="text-center mt-4">
    <div class="container">
        <img src="" alt="Logo de la empresa" class="img-fluid">
    </div>
</header>

<div class="container mt-4">
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" ng-click="navigateTo('cuenta-ahorro')">
            <img src="img/ahorrar-dinero.png" alt="Ícono de cuenta de ahorro" class="icono">
            Cuenta de Ahorro
        </button>

        <button type="button" class="list-group-item list-group-item-action" ng-click="navigateTo('cuenta-corriente')">
            <img src="img/cuenta-bancaria.png" alt="Ícono de cuenta corriente" class="icono">
            Cuenta Corriente
        </button>

        <button type="button" class="list-group-item list-group-item-action" ng-click="navigateTo('tarjeta-credito')">
            <img src="img/tarjeta-bancaria.png" alt="Ícono de tarjeta de crédito" class="icono">
            Tarjeta de Crédito
        </button>

        <button type="button" class="list-group-item list-group-item-action" ng-click="navigateTo('prestamos')">
            <img src="img/pedir-prestado.png" alt="Ícono de préstamos" class="icono">
            Préstamos
        </button>

        <button type="button" class="list-group-item list-group-item-action" ng-click="navigateTo('certificados')">
            <img src="img/certificado.png" alt="Ícono de certificados" class="icono">
            Certificados
        </button>

        <button type="button" class="list-group-item list-group-item-action" ng-click="navigateTo('solicitudes')">
            <img src="img/descripcion-del-trabajo.png" alt="Ícono de solicitudes" class="icono">
            Mis Solicitudes
        </button>
    </div>
</div>
