<div class="container mt-4">
    <link rel="stylesheet" href="css/tarjeta.css">

    <h2>Tarjeta de Crédito</h2>

    <div class="card card-details">
        <img src="img/descarga (2).jpeg" alt="Tarjeta de Crédito"
            class="card-image img-fluid">

        <div class="cost-details">
            <div class="cost-item">
                <img src="img/signo-de-dolar.png"
                    alt="Ícono de tarjeta de crédito">
                <p><strong>Costo de Emisión:</strong> $5,000.00</p>
            </div>

            <div class="cost-item">
                <img src="img/signo-de-dolar.png"
                    alt="Ícono de tarjeta de crédito">
                <p><strong>Plástico Adicional:</strong> $5,000.00</p>
            </div>
        </div>

        <div id="beneficiosCarousel" class="carousel slide benefits-carousel"
            data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="benefits">
                        <h4>Beneficios:</h4>
                        <div class="benefits-carousel">
                            <div class="custom-card">

                                <div>

                                    <ul>
                                        <li>
                                            80% del límite disponible en <br>
                                            efectivo.
                                        </li>
                                        <li>
                                            Programa de doble acumulación de
                                            Puntos.
                                        </li>
                                        <li>
                                            Plan de financiamiento.
                                        </li>
                                        <li>
                                            Seguros opcionales.
                                        </li>
                                        <li>
                                            Cuenta Protegida.
                                        </li>
                                        <li>
                                            Seguro de Accidentes de Viajes.
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="related-products">
            <h4>Productos Relacionados:</h4>
            <div class="tarjeta-card">
                <div class="product">
                    <img src="img/descarga (2).jpeg" alt="Visa Clásica"
                        class="img-fluid">
                    <p class="product-name">Visa Clásica</p>
                </div>
                <div class="product">
                    <img src="img/descarga (2).jpeg" alt="MasterCard Oro"
                        class="img-fluid">
                    <p class="product-name">Visa Oro</p>
                </div>
                <div class="product">
                    <img src="img/descarga (2).jpeg"
                        alt="American Express Platinum" class="img-fluid">
                    <p class="product-name">Visa Platinum</p>
                </div>

            </div>
        </div>

        <div class="buttons-container">
            <button class="btn btn-primary" id="solicitudButton">Realizar
                Solicitud</button>
            <button class="btn btn-secondary" id="cerrarButton">Cerrar</button>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#solicitudButton').click(function () {
            window.location.href = './templates/formulario.html';
        });

        $('#cerrarButton').click(function () {
            window.location.href = './index.html';
        });

        $('#beneficiosCarousel').carousel({
            interval: 5000
        });
    });
</script>
